<html>
<head>
<title>POC QRCODE - Provider</title>
</head>
<body>

    <h2>POC QRCODE - Provider</h2>
    <form action="{{url_for('generate')}}" method="POST" onSubmit="" name="frmQrCode">
    <table>

        <tr>
            <td>
                 Inserir texto Gerar QRCODE
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="txtQRCODE" name="txtQRCODE" value="{% if result %}{{result.sText}}{% else %}http://www.provider-it.com.br{% endif %}" width="500" size="100">
           </td>
           <td>
            <input type="submit" id="btnProcessar"  value="Processar">
            </td>
       </td>           
        </tr>
        <tr>
            <td>
                 Imagem:
            </td>
        </tr>
        <tr>
            <td>
				<img src="{{url_for('static',filename = 'images/qrcode001.png')}}" alt="QRCode Gerado">
           </td>
        </tr>           
    </table>
    </form>
</body>
</html>